<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link  rel="stylesheet" href="{% static 'myapp/styles/base.css' %}">

    <link  rel="stylesheet" href="{% static 'myapp/styles/index.css' %}">
    <title>Index</title>
</head>
<body>
    <div id="index-container">
        <div id="nav-container">
            <div id="navbar">
                <a href="{% url 'index' %}">
                    <button id="home">Teacher Home</button>
                </a>
                <a href="{% url 'classes' %}">

                    <button id="class-list">Add Classes</button>
                </a>
                <a href="{% url 'view_model_entries' %}">

                    <button id="class-list">My Classes</button>
                </a>
            </div>
        </div>
        <div id="content-container">
            <h1>hi</h1>
        </div>
    </div>
</body>
</html>