<!DOCTYPE html>
<html>
<head>
    <title>Model Entries</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link  rel="stylesheet" href="{% static 'myapp/styles/base.css' %}">
    <link  rel="stylesheet" href="{% static 'myapp/styles/entries.css' %}">
</head>
<body>
    <div id="index-container">
        <div id="nav-container">
            <div id="navbar">
                <a href="{% url 'index' %}">
                    <button id="home">Teacher Home</button>
                </a>
                <a href="{% url 'classes' %}">

                    <button id="class-list">Add Classes</button>
                </a>
                <a href="{% url 'view_model_entries' %}">

                    <button id="class-list">My Classes</button>
                </a>
            </div>
        </div>

        <div id="content-container">
            {% for entry in entries %}
            <div id="entry-wrapper">
                <div id="entry">
                    <div id="title">
                        {{entry.class_name }}    
                        <a id="click-class" href="{% url 'single_class' %}">
                            <button>View Roster</button>
                        </a>
                    </div>
                    <!-- <div id="descr">
    
                        {{entry.teacher_name}} 
                    </div> -->
                </div> <!-- Assuming your model has a __str__ method -->
            </div>
        {% endfor %}
        </div>
    </div>

</body>
</html>
